<h1>
  Menu da página
</h1>
<div class="centro">
  <main>
    <div class="cabeca-main">
      apresentação
    </div>

    <div class="caixa-main">
      Capinar um lote de terra corretamente é fundamental para garantir que a terra esteja pronta para o plantio e
      para evitar problemas como a erosão do solo. Existem algumas posturas e técnicas de manuseio de enxada que podem
      ajudar a tornar o processo mais eficiente.
      <br>
      <br>
      <span>
        A primeira coisa a se levar em conta é a postura. É importante manter o corpo ereto e os joelhos levemente
        dobrados, para evitar desconforto e pressão excessiva na coluna. É recomendável usar luvas e calçado fechado
        para proteger as mãos e os pés.
      </span>
      <br>
      <br>
      Em seguida, é importante escolher a enxada correta. Existem diferentes tipos de enxadas, cada uma com
      características específicas para diferentes tipos de solo e plantio. Por exemplo, uma enxada de borda curva é
      melhor para solos mais duros, enquanto uma enxada de borda plana é mais adequada para solos mais macios.
      <br>
      <br>
      <span>
        Quando for capinar, é importante lembrar de sempre segurar a enxada com as mãos na posição correta, usando a
        mão
        direita na parte superior do cabo e a mão esquerda no meio do cabo. Isso ajuda a equilibrar o peso da enxada e
        garante um melhor controle.
      </span>
      <br>
      <br>
      Ao capinar, é importante fazer movimentos de corte e levantamento suaves e controlados, em vez de usar
      movimentos bruscos. Isso ajuda a evitar danificar as raízes das plantas e a preservar a integridade do solo.
      <br>
      <br>
      <span>
        Por fim, é importante lembrar de descansar frequentemente e beber água para se manter hidratado. Capinar é uma
        tarefa física desgastante, e é importante cuidar da própria saúde durante o processo.
      </span>
      <br>
      <br>
      Em resumo, capinar um lote de terra corretamente é uma tarefa importante para garantir que o solo esteja pronto
      para o plantio e para evitar problemas como a erosão do solo. A postura correta, o uso de luvas e calçado
      fechado, a escolha da enxada certa, o manuseio correto da enxada e a hidratação são alguns dos principais
      fatores a serem levados em conta para garantir um processo eficiente e seguro.
      <hr>
      <a href="/contato/">
        Para saber mais clique AQUI.
      </a>
      <br>
      <span>Autor:</span> chat GPT.
      <br>
      <span>data de publicação:</span> 12/01/2023.
    </div>
  </main>
</div>

<div class="centro">
  <aside class="centro-aside">
    <div class="caixa-a">
      <div class="cabeca-main">
        Sujestões de MANGA!!!
      </div>

      <div class="caixa-main">
        <a href="/contato/">
          Descubra
        </a>
        um manga que pode virar o seu favorito.
        <br>
        <span>Favorito do Criador:</span> Jujutsu Kaizen.
        <br>
        <span>Qual eu menos gosto:</span> Tokio Revengers.

        <div class="container">
          <div class="row" id="blocoDeImagens">
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img1.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img2.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img3.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img4.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img5.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img6.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img7.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img8.jpg" class="img-block" alt="img-capa">
            </div>
            <div class="col-6 shake-left-right centro-mestre">
              <img src="/img/img-exemplo/img9.jpg" class="img-block" alt="img-capa">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="caixa-b">
      <div class="cabeca-main">
        Explicação do Sistema.
      </div>

      <div class="caixa-main">
        As capivaras são animais encontrados principalmente na América do Sul, incluindo o
        Brasil. Elas são parentes
        próximos dos guaxinins e dos coiotes e podem chegar a medir até 1,3 metros de
        comprimento, incluindo a cauda.
        São animais herbívoros e geralmente vivem em grupos perto de água. Elas são
        conhecidas por serem excelentes
        nadadoras e podem ficar submersas por até cinco minutos. As capivaras são animais
        adaptáveis e podem ser
        encontrados em uma variedade de ambientes, desde florestas tropicais até savanas.
        Elas são consideradas uma
        espécie de menor preocupação pela IUCN, mas sua população pode ser afetada por caça
        e perda de habitat. Em
        algumas regiões do Brasil, elas são caçadas para sua carne e peles, e sua presença
        pode ser vista como uma
        ameaça para cultivos.
        <br>
        <hr>
        <span>Autor:</span> chat gpt.
        <br>
        <span>data da publicação:</span> 11/12/2022.
      </div>
    </div>
  </aside>
</div>