<link rel="stylesheet" href="/css/components/maisrecente.css">
<h1>
  HQs mais recentes.
</h1>

<div class="centro">
  <div class="main-recentes">
    <div class="tendencia">
      <div class="cabeca-main">
        Tendencia em 2023.
      </div>
      <div class="caixa-main pn1 scrollcria">
        A Tendencia agora são os animes e mangas
        de isekai.
        <hr>
        <span class="fontepequena">
          O termo "isekai" significa "outro mundo" em japonês, e
          se
          refere a histórias em que personagens são
          reencarnados em um mundo completamente diferente do
          seu.
        </span>
      </div>
    </div>

    <div class="ultimascategorias">
      <div class="cabeca-main">
        Novas Categorias.
      </div>
      <div class="caixa-main pn2 scrollcria">
        <div class="centro">
          <div class="painelnovacategoria">
            <div class="nomecategoria">
              <div class="centro">
                <img src="/img/base/login.png" class="classeicon" alt="">
              </div>
              <span>
                Classe: Romance hetero.
              </span>
            </div>
            <span class="hqsnacategoria">
              HQS nessa categoria: 290.
            </span>
            <span class="categoriafeitaem">
              Categoria criada em : 20/04/2022.
            </span>
          </div>
        </div>
        <div class="centro">
          <div class="painelnovacategoria">
            <div class="nomecategoria">
              <div class="centro">
                <img src="/img/base/login.png" class="classeicon" alt="">
              </div>
              <span>
                Classe: Ação.
              </span>
            </div>
            <span class="hqsnacategoria">
              HQS nessa categoria: 149.
            </span>
            <span class="categoriafeitaem">
              Categoria criada em : 20/04/2022.
            </span>
          </div>
        </div>
        <div class="centro">
          <div class="painelnovacategoria">
            <div class="nomecategoria">
              <div class="centro">
                <img src="/img/base/login.png" class="classeicon" alt="">
              </div>
              <span>
                Classe: Romance hetero.
              </span>
            </div>
            <span class="hqsnacategoria">
              HQS nessa categoria: 221.
            </span>
            <span class="categoriafeitaem">
              Categoria criada em : 20/04/2022.
            </span>
          </div>
        </div>

        <div class="centro">
          <div class="painelnovacategoria">
            <div class="nomecategoria">
              <div class="centro">
                <img src="/img/base/login.png" class="classeicon" alt="">
              </div>
              <span>
                Classe: Romance hetero.
              </span>
            </div>
            <span class="hqsnacategoria">
              HQS nessa categoria: 102.
            </span>
            <span class="categoriafeitaem">
              Categoria criada em : 20/04/2022.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="ultimolancou">
      <div class="cabeca-main">
        Ultimo HQ lançado.
      </div>
      <div class="caixa-main pn3">
        O ultimo HQ que lançou foi One Piece.

        <div class="centro">
          <img src="/img/base/img5.jpg" alt="hq" class="img-hq-chad">
        </div>

        <hr>
        <span class="fontepequena">
          Autor: Eichiro Oda.
          <br>
          Capitulos: 1021.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="centro">
  <div class="ultimasnoticias scrollcria">
    <div class="titulonoticia cabeca-main">
      Ultimas noticias.
    </div>
    <div class="caixa-main pn4">
      <div class="lancadossemanal">
        <span>
          HQS lançados essa semana: 6.
          <hr>
          Categorias lançadas essa semana: 2.
        </span>
      </div>

      <div class="lancadoshq scrollcria container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="blocohqsemanal centro">
              <div class="centro">
                <img src="/img/img-exemplo/img3.jpg" alt="hq" class="img-hq-chad 
                espacohqs">
              </div>
              <span class="espacoletra">
                HQ: Fairy Tail.
                <hr>
                Capitulos: 200.
              </span>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12">
            <div class="blocohqsemanal centro">
              <div class="centro">
                <img src="/img/img-exemplo/img7.jpg" alt="hq" class="img-hq-chad 
                espacohqs">
              </div>
              <span class="espacoletra">
                HQ: Tokio Revengers.
                <hr>
                Capitulos: 200.
              </span>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12">
            <div class="blocohqsemanal centro">
              <div class="centro">
                <img src="/img/img-exemplo/img9.jpg" alt="hq" class="img-hq-chad 
                espacohqs">
              </div>
              <span class="espacoletra">
                HQ: Fairy Tail.
                <hr>
                Capitulos: 200.
              </span>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12">
            <div class="blocohqsemanal centro">
              <div class="centro">
                <img src="/img/img-exemplo/img8.jpg" alt="hq" class="img-hq-chad 
                espacohqs">
              </div>
              <span class="espacoletra">
                HQ: Fairy Tail.
                <hr>
                Capitulos: 200.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/estilosComponent.js"></script>